<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="例子.Properties.Settings.studentConnectionString" connectionString="Data Source=MSLP;Initial Catalog=sc;Integrated Security=True"
            providerName="System.Data.SqlClient" />
		<add name="例子.Properties.Settings.studentConnectionString1" connectionString="Data Source=(local);Initial Catalog=sc;Integrated Security=True"
            providerName="System.Data.SqlClient" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
	</startup>
</configuration>